<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.coresymbolicationd</key>
	<true/>
	<key>com.apple.magicswitchd.companion</key>
	<true/>
	<key>com.apple.OTACrashCopier</key>
	<true/>
	<key>com.apple.aslmanager</key>
	<true/>
	<key>com.apple.awdd</key>
	<true/>
	<key>com.apple.security.otpaird</key>
	<true/>
	<key>com.apple.DumpPanic</key>
	<true/>
	<key>com.apple.crash_mover</key>
	<true/>
	<key>com.apple.dhcp6d</key>
	<true/>
	<key>com.apple.bootpd</key>
	<true/>
	<key>com.apple.crashreportcopymobile</key>
	<true/>
	<key>com.apple.DumpBasebandCrash</key>
	<true/>
	<key>com.apple.OTATaskingAgent</key>
	<true/>
	<key>com.apple.ReportCrash</key>
	<true/>
	<key>com.apple.ftp-proxy-embedded</key>
	<false/>
	<key>com.apple.mobile.softwareupdated</key>
	<true/>
	<key>com.apple.nanotimekitcompaniond</key>
	<true/>
	<key>com.apple.relevanced</key>
	<true/>
	<key>com.opa334.Dopamine.idownloadd</key>
	<true/>
	<key>com.tigisoftware.filza.helper</key>
	<false/>
	<key>com.apple.nfcd</key>
	<true/>
	<key>com.apple.softwareupdateservicesd</key>
	<true/>
	<key>com.apple.mtmergeprops</key>
	<true/>
	<key>com.apple.nand_task_scheduler</key>
	<true/>
	<key>com.apple.neagent-ios</key>
	<true/>
	<key>com.apple.nehelper</key>
	<true/>
	<key>com.apple.nesessionmanager</key>
	<true/>
	<key>com.apple.networkd</key>
	<true/>
	<key>com.apple.networkd_privileged</key>
	<true/>
	<key>com.apple.NetworkLinkConditioner</key>
	<true/>
	<key>com.apple.nfsconf</key>
	<true/>
	<key>com.apple.notifyd</key>
	<true/>
	<key>com.apple.nsurlsessiond</key>
	<true/>
	<key>com.apple.nsurlstoraged</key>
	<true/>
	<key>com.apple.OTACrashCopier</key>
	<true/>
	<key>com.apple.OTAPKIAssetTool</key>
	<true/>
	<key>com.apple.OTATaskingAgent</key>
	<true/>
	<key>com.apple.passd</key>
	<true/>
	<key>com.apple.pfd</key>
	<true/>
	<key>com.apple.pipelined</key>
	<true/>
	<key>com.apple.pluginkit.pkd</key>
	<true/>
	<key>com.apple.pluginkit.pkreporter</key>
	<true/>
	<key>com.apple.powerd</key>
	<true/>
	<key>com.apple.powerlogd</key>
	<true/>
	<key>com.apple.prdaily</key>
	<true/>
	<key>com.apple.preboardservice</key>
	<true/>
	<key>com.apple.printd</key>
	<true/>
	<key>com.apple.PurpleReverseProxy</key>
	<true/>
	<key>com.apple.PurpleReverseProxy.ramdisk</key>
	<true/>
	<key>com.apple.racoon</key>
	<true/>
	<key>com.apple.recentsd</key>
	<true/>
	<key>com.apple.ReportCrash.DirectoryService</key>
	<true/>
	<key>com.apple.ReportCrash.Jetsam</key>
	<true/>
	<key>com.apple.ReportCrash</key>
	<true/>
	<key>com.apple.ReportCrash.SafetyNet</key>
	<true/>
	<key>com.apple.ReportCrash.SimulateCrash</key>
	<true/>
	<key>com.apple.ReportCrash.StackShot</key>
	<true/>
	<key>com.apple.reversetemplated</key>
	<true/>
	<key>com.apple.revisiond</key>
	<true/>
	<key>com.apple.rolld</key>
	<true/>
	<key>com.apple.routined</key>
	<true/>
	<key>com.apple.rtcreportingd</key>
	<true/>
	<key>com.apple.safarifetcherd</key>
	<true/>
	<key>com.apple.sandboxd</key>
	<true/>
	<key>com.apple.sbd</key>
	<true/>
	<key>com.apple.SCHelper-embedded</key>
	<true/>
	<key>com.apple.scrod</key>
	<true/>
	<key>com.apple.search.appindexer</key>
	<true/>
	<key>com.apple.searchd</key>
	<true/>
	<key>com.apple.security.CircleJoinRequested</key>
	<true/>
	<key>com.apple.security.cloudkeychainproxy</key>
	<true/>
	<key>com.apple.security.swcagent</key>
	<true/>
	<key>com.apple.securityd</key>
	<true/>
	<key>com.apple.softwarebehaviorservicesd</key>
	<true/>
	<key>com.apple.softwareupdateservicesd</key>
	<true/>
	<key>com.apple.splashboardd</key>
	<true/>
	<key>com.apple.storebookkeeperd</key>
	<true/>
	<key>com.apple.streaming_zip_conduit</key>
	<true/>
	<key>com.apple.suggestd</key>
	<true/>
	<key>com.apple.swcd</key>
	<true/>
	<key>com.apple.syncdefaultsd</key>
	<true/>
	<key>com.apple.syslogd</key>
	<true/>
	<key>com.apple.syslog_relay</key>
	<true/>
	<key>com.apple.tccd</key>
	<true/>
	<key>com.apple.telephonyutilities.callservicesd</key>
	<true/>
	<key>com.apple.TextInput.kbd</key>
	<true/>
	<key>com.apple.timed</key>
	<true/>
	<key>com.apple.timezoneupdates.tzd</key>
	<true/>
	<key>com.apple.tipsd</key>
	<true/>
	<key>com.apple.touchsetupd</key>
	<true/>
	<key>com.apple.tzlinkd</key>
	<true/>
	<key>com.apple.ubd</key>
	<true/>
	<key>com.apple.UIKit.pasteboardd</key>
	<true/>
	<key>com.apple.usb.networking.addNetworkInterface</key>
	<true/>
	<key>com.apple.usbptpd</key>
	<true/>
	<key>com.apple.UserEventAgent-System</key>
	<true/>
	<key>com.apple.voiced</key>
	<true/>
	<key>com.apple.voicemail.vmd</key>
	<true/>
	<key>com.apple.voicememod</key>
	<true/>
	<key>com.apple.VoiceOverTouch</key>
	<true/>
	<key>com.apple.vsassetd</key>
	<true/>
	<key>com.apple.WebBookmarks.webbookmarksd</key>
	<true/>
	<key>com.apple.webinspectord</key>
	<true/>
	<key>com.apple.wifi.hostapd</key>
	<true/>
	<key>com.apple.wifi.wapic</key>
	<true/>
	<key>com.apple.wifid</key>
	<true/>
	<key>com.apple.wifiFirmwareLoader</key>
	<true/>
	<key>com.apple.wirelessproxd</key>
	<true/>
</dict>
</plist>
